{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <!-- displaying  Username-->
        <h1 class="text-center"> {{user.username| capitalize}} </h1>
        <hr>
        <!--Display profile photo-->
        <div class="col-md-4">
            <div class="">
                {% if user.profile_pic_path %}
                <img class="" src="{{url_for('static', filename=user.profile_pic_path)}}" alt="profile"
                    class="img-circle img-responsive" width="250px"><br><br>
                {%else%}
               <i class="fas fa-user fa-10x text-center" ></i> <br><br>
                {% endif %}

                {% if user == current_user %}
                <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post"
                    enctype="multipart/form-data">
                    <input type="file" name="photo" class="form-control" required><br>
                    <input type="submit">
                </form>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <p> <b>Name:</b> {{user.firstname}} {{user.lastname}} </p>
            <p><b> No of blogs:</b> {{blogs}}</p>
            <p><b> Date joined: </b>{{date}}</p>
        </div>
       
        <div class="col-md-4">
            <h3><b>Add Your Bio</b></h3>

            <!--Displaying user bio-->
            {% if user.bio %}
            <p> {{user.bio}}</p>
            {%else%}
            <p> {{user.username| capitalize}} has no bio </p>
            {% endif %}

            {% if user == current_user %}
            <a href="{{url_for('main.update_profile',uname=user.username)}}"><button type="button"
                    class="btn btn-info">Edit profile</button></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}