{% extends 'base.html' %}


{%block content%}
<!-- Styles block -->


<!-- Content block -->

<div class="home">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <h2 style="font-size: 80px; font-family: 'Lobster', cursive;  padding-top: 40px; text-align: center;">
                    Welcome to Blog Website</h2>
                    <br><br>

                <p>{{blogQuote.quote}}</p>
                
                <p class="text-right"><b>~ {{blogQuote.author}} ~</b> </p>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>







</div>
{%endblock%}