
<nav class="navbar navbar-dark default-color">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><Strong>My Blogs</Strong></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="{{url_for('main.index')}}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('main.theblog')}}" class="nav-link">My Blogs</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('main.blogs')}}" class="nav-link">Add Blog</a>
                </li>
                
                
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">{{current_user.username| capitalize}} <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu ">
                        <li><a href="{{url_for('main.profile',uname=current_user.username)}}">🤵 Profile</a></li>
                        <hr>
                       
                      
                        <li><a href="{{url_for('auth.logout')}}">🙎‍♂️Sign out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}">🙎‍♂️ Sign in</a></li>
            </ul>
            {%endif%}
        </div>
    </div>
    </div>
</nav>