{% extends 'base.html' %}
{%import "bootstrap/wtf.html" as wtf%}
{%block content%}

<div class="container">
    {%with messages = get_flashed_messages ()%}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li> {{message}} </li>
        {% endfor %}

    </ul>
    {%endif%}
    {% endwith %}
    <div class="row">
        
        <div class="col-md-4">
            <h1>{{blog.title_blog}}</h1>
            <h4>{{blog.user.username}}</h4>
            <h3>{{blog.description}}</h3>
            <p class="date text-muted">Posted on ~ {{blog.date.strftime('%Y-%m-%d')}}</p>
        </div>
        <div class="col-md-4">
            <h1>Add a comment</h1>
            {{wtf.quick_form(comment_form)}}
        </div>
        <div class="col-md-4">
            {%for comment in blog_comments%}
            <p>{{comment.user.username}}</p>
            <p>{{comment.comment}}</p>
            <p>{{comment.date.strftime("%Y-%m-%d")}}</p>
            
            <a href="{{url_for('main.delete_comment', comment_id=comment.id)}}"><button >Delete Coment</button></a>
            {%endfor%}
            
        </div>
        
    </div>
</div>
{%endblock%}